#grid_container {
    display: grid;
    max-width: auto;
    max-height: auto;
    grid-template-columns: auto auto;
    background-color: rgb(255, 255, 255);
    gap: 5px;
    padding-top: 10px;
}
#grid_container > div {
    background-color: rgb(255, 255, 255);
    text-align: center;
    min-height: 200px;
    border-radius: 20px;
    box-shadow: 2px 2px 20px rgb(200, 200, 200);
}
#header {
    grid-column: 1/3;
    grid-row: 1;
    justify-content: center;
    /* background-color: rgb(247, 247, 247); */
}
h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding-bottom: 20px;
}
h1 > span {
    color: rgb(69, 85, 255);
    background-color: rgb(226, 226, 255);
    border-radius: 10px;
    padding: 5px;
}
h3 {
    font-family: "Poppins", sans-serif;
}
a {
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(50, 50, 50);
    border-radius: 20px;
    padding: 10px;
}