/* @media all and (min-width: 600px) {
    h1 {
        font-size: 48px;
    }
} */
#grid_container {
    display: grid;
    max-width: auto;
    max-height: auto;
    grid-template-columns: auto auto;
    background-color: rgb(255, 255, 255);
    gap: 5px;
    padding-top: 10px;
}
#grid_container > div {
    background-color: rgb(255, 255, 255);
    text-align: center;
    min-height: 200px;
    border-radius: 20px;
    box-shadow: 2px 2px 20px rgb(200, 200, 200);
}
#header {
    grid-column: 1/3;
    grid-row: 1;
    justify-content: center;
    /* background-color: rgb(247, 247, 247); */
}
h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding-bottom: 20px;
    /* font-size: 50px; */
}
h1 > span {
    color: rgb(69, 85, 255);
    background-color: rgb(226, 226, 255);
    border-radius: 10px;
    padding: 5px;
}
h3 {
    font-family: "Poppins", sans-serif;
    padding-bottom: 10px;
}
#button {
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(50, 50, 50);
    border-radius: 20px;
    padding: 10px;
}
p {
    font-family: "Roboto";
}
a {
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    padding: 10px;
}
.material-symbols-outlined {
    position: relative;
    top: 6px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 10,
    'opsz' 38
}
.textWithIcon {
    position: relative;
    bottom: 9px;
}
@media all and (max-width: 600px) {
    h1 {
        font-size: 50px;
    }
    h3 {
        font-size: 28px;
    }
    p {
        font-size: 20px;
        color: rgb(100, 100, 100);
    }
    a {
        font-size: 20px;
    }
    #grid_container {
        display: grid;
        max-width: auto;
        max-height: auto;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        background-color: rgb(255, 255, 255);
        gap: 10px;
        padding-top: 10px;
    }
    #header {
        grid-column: 1;
        grid-row: 1;
        justify-content: center;
        /* background-color: rgb(247, 247, 247); */
    }
}