{
  "openapi": "3.1.0",
  "info": {
    "title": "Jobs Workflow API",
    "version": "1.3.0",
    "description": "Shared job collection, leased attempts, captures, blockers and confirmed submissions. Structural schemas are shared with runtime checks; contextual rules remain authoritative on the server."
  },
  "servers": [
    {
      "url": "https://www.kevinc.dev"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Tracker writer/extension key, or a reader key for GET only"
      },
      "browserSession": {
        "type": "apiKey",
        "in": "cookie",
        "name": "authjs.session-token",
        "description": "Website Auth.js session (secure deployments use the __Secure- prefix); browser-only routes require this session"
      }
    },
    "schemas": {
      "clientEvents": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          },
          "client_version": {
            "type": "string",
            "pattern": "^\\d+\\.\\d+\\.\\d+$"
          },
          "events": {
            "minItems": 1,
            "maxItems": 25,
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid",
                  "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                },
                "at": {
                  "type": "string",
                  "format": "date-time",
                  "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
                },
                "trace_id": {
                  "type": "string",
                  "format": "uuid",
                  "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                },
                "name": {
                  "type": "string",
                  "enum": [
                    "worker_started",
                    "scan_finished",
                    "scan_failed",
                    "sync_succeeded",
                    "sync_failed",
                    "site_mode",
                    "destination_saved"
                  ]
                },
                "source": {
                  "type": "string",
                  "enum": [
                    "jobright",
                    "handshake",
                    "linkedin",
                    "symplicity",
                    "other"
                  ]
                },
                "mode": {
                  "type": "string",
                  "enum": [
                    "auto",
                    "manual",
                    "paused"
                  ]
                },
                "operation": {
                  "type": "string",
                  "enum": [
                    "job",
                    "capture",
                    "application"
                  ]
                },
                "found": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 200
                },
                "queued": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 200
                },
                "skipped": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 200
                },
                "queue_depth": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 100000
                },
                "duration_ms": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 300000
                },
                "http_status": {
                  "type": "integer",
                  "minimum": 100,
                  "maximum": 599
                },
                "error_code": {
                  "type": "string",
                  "enum": [
                    "unauthorized",
                    "forbidden",
                    "invalid_input",
                    "conflict",
                    "rate_limited",
                    "unavailable",
                    "network",
                    "timeout",
                    "context_invalidated",
                    "unknown"
                  ]
                }
              },
              "required": [
                "id",
                "at",
                "trace_id",
                "name"
              ],
              "additionalProperties": false
            }
          },
          "dropped": {
            "type": "integer",
            "minimum": 0,
            "maximum": 1000000
          }
        },
        "required": [
          "client_id",
          "client_version",
          "events"
        ],
        "additionalProperties": false
      },
      "parse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "text"
        ],
        "additionalProperties": {}
      },
      "applicationCreate": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "company": {
            "type": "string",
            "maxLength": 2000
          },
          "role": {
            "type": "string",
            "maxLength": 2000
          },
          "description": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 50000
              },
              {
                "type": "null"
              }
            ]
          },
          "date": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "source": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "type": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "cover_letter": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 50000
              },
              {
                "type": "null"
              }
            ]
          },
          "resume_type": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "location": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "work_mode": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "application_url": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "external_id": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "agent_model": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "started_at": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "completed_at": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "submitted_at": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "duration_seconds": {
            "anyOf": [
              {
                "type": "number",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ]
          },
          "blocker": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 50000
              },
              {
                "type": "null"
              }
            ]
          },
          "evidence_refs": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 50000
              },
              {
                "type": "null"
              }
            ]
          },
          "other_details": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 1000000
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "company",
          "role"
        ],
        "additionalProperties": false
      },
      "applicationPatch": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "company": {
            "type": "string",
            "maxLength": 2000
          },
          "role": {
            "type": "string",
            "maxLength": 2000
          },
          "description": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 50000
              },
              {
                "type": "null"
              }
            ]
          },
          "date": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "source": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "type": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "cover_letter": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 50000
              },
              {
                "type": "null"
              }
            ]
          },
          "resume_type": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "location": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "work_mode": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "application_url": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "external_id": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "agent_model": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "started_at": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "completed_at": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "submitted_at": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "duration_seconds": {
            "anyOf": [
              {
                "type": "number",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ]
          },
          "blocker": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 50000
              },
              {
                "type": "null"
              }
            ]
          },
          "evidence_refs": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 50000
              },
              {
                "type": "null"
              }
            ]
          },
          "other_details": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 1000000
              },
              {
                "type": "null"
              }
            ]
          },
          "interviewed": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "number",
                "const": 0
              },
              {
                "type": "number",
                "const": 1
              }
            ]
          }
        },
        "additionalProperties": false
      },
      "collectionCreate": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "identity_key": {
            "type": "string",
            "maxLength": 2000
          },
          "company": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "role": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "description": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 50000
              },
              {
                "type": "null"
              }
            ]
          },
          "description_status": {
            "type": "string",
            "enum": [
              "missing",
              "partial",
              "full"
            ]
          },
          "source": {
            "type": "string",
            "maxLength": 2000
          },
          "source_job_id": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "source_url": {
            "type": "string",
            "maxLength": 8000
          },
          "application_url": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 8000
              },
              {
                "type": "null"
              }
            ]
          },
          "canonical_url": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 8000
              },
              {
                "type": "null"
              }
            ]
          },
          "ats_provider": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "ats_tenant": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "ats_job_id": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "resolution_status": {
            "type": "string",
            "enum": [
              "unresolved",
              "resolved",
              "in_board",
              "unavailable"
            ]
          },
          "type": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "employment_type": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "location": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "work_mode": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "posted_at": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "posted_at_raw": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "first_seen_at": {
            "type": "string",
            "maxLength": 40,
            "description": "ISO timestamp with a timezone; validated and normalized by the service"
          },
          "last_seen_at": {
            "type": "string",
            "maxLength": 40,
            "description": "ISO timestamp with a timezone; validated and normalized by the service"
          },
          "archived_at": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 40,
                "description": "ISO timestamp with a timezone; validated and normalized by the service"
              },
              {
                "type": "null"
              }
            ]
          },
          "role_tags_json": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "string"
              }
            ]
          },
          "locations_json": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {
                    "description": "Arbitrary JSON value; transport accepts JSON only"
                  }
                }
              },
              {
                "type": "string"
              }
            ]
          },
          "sources_json": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {
                    "description": "Arbitrary JSON value; transport accepts JSON only"
                  }
                }
              },
              {
                "type": "string"
              }
            ]
          },
          "metadata_json": {
            "anyOf": [
              {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "description": "Arbitrary JSON value; transport accepts JSON only"
                }
              },
              {
                "type": "string"
              }
            ]
          },
          "application_ids_json": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "integer",
                  "exclusiveMinimum": 0,
                  "maximum": 9007199254740991
                }
              },
              {
                "type": "string"
              }
            ]
          },
          "status": {
            "type": "string",
            "maxLength": 2000
          },
          "status_notes": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 50000
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "identity_key",
          "source",
          "source_url"
        ],
        "additionalProperties": false
      },
      "collectionPatch": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "company": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "role": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "description": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 50000
              },
              {
                "type": "null"
              }
            ]
          },
          "description_status": {
            "type": "string",
            "enum": [
              "missing",
              "partial",
              "full"
            ]
          },
          "source_job_id": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "source_url": {
            "type": "string",
            "maxLength": 8000
          },
          "application_url": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 8000
              },
              {
                "type": "null"
              }
            ]
          },
          "canonical_url": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 8000
              },
              {
                "type": "null"
              }
            ]
          },
          "ats_provider": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "ats_tenant": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "ats_job_id": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "resolution_status": {
            "type": "string",
            "enum": [
              "unresolved",
              "resolved",
              "in_board",
              "unavailable"
            ]
          },
          "type": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "employment_type": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "location": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "work_mode": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "posted_at": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "posted_at_raw": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "last_seen_at": {
            "type": "string",
            "maxLength": 40,
            "description": "ISO timestamp with a timezone; validated and normalized by the service"
          },
          "archived_at": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 40,
                "description": "ISO timestamp with a timezone; validated and normalized by the service"
              },
              {
                "type": "null"
              }
            ]
          },
          "role_tags_json": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "string"
              }
            ]
          },
          "locations_json": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {
                    "description": "Arbitrary JSON value; transport accepts JSON only"
                  }
                }
              },
              {
                "type": "string"
              }
            ]
          },
          "sources_json": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {
                    "description": "Arbitrary JSON value; transport accepts JSON only"
                  }
                }
              },
              {
                "type": "string"
              }
            ]
          },
          "metadata_json": {
            "anyOf": [
              {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "description": "Arbitrary JSON value; transport accepts JSON only"
                }
              },
              {
                "type": "string"
              }
            ]
          },
          "application_ids_json": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "integer",
                  "exclusiveMinimum": 0,
                  "maximum": 9007199254740991
                }
              },
              {
                "type": "string"
              }
            ]
          },
          "status": {
            "type": "string",
            "maxLength": 2000
          },
          "status_notes": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 50000
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "additionalProperties": false
      },
      "claim": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "collection_id": {
            "type": "string",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "version": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          },
          "claim_token": {
            "type": "string",
            "minLength": 32,
            "maxLength": 200,
            "description": "Original private claim token; new claims require 32+ characters"
          },
          "worker_id": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "agent_model": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          },
          "parent_attempt_id": {
            "description": "Arbitrary JSON value; transport accepts JSON only"
          },
          "manual": {
            "description": "Arbitrary JSON value; transport accepts JSON only"
          },
          "handoff_id": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "collection_id",
          "version",
          "claim_token"
        ],
        "additionalProperties": false
      },
      "heartbeat": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "claim_token": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "Original private claim token; new claims require 32+ characters"
          },
          "stage": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "filling",
                  "submit_started",
                  "receipt_seen"
                ]
              },
              {
                "type": "string",
                "const": ""
              },
              {
                "type": "number",
                "const": 0
              },
              {
                "type": "boolean",
                "const": false
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "claim_token"
        ],
        "additionalProperties": false
      },
      "recover": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "version"
        ],
        "additionalProperties": false
      },
      "outcome": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "claim_token": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "Original private claim token; new claims require 32+ characters"
          },
          "outcome": {
            "type": "string",
            "enum": [
              "blocked",
              "skipped",
              "failed",
              "cancelled",
              "submission_unknown"
            ]
          },
          "reason_code": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 100
              },
              {
                "type": "null"
              }
            ]
          },
          "notes": {
            "type": "string",
            "maxLength": 50000
          },
          "details": {
            "description": "Arbitrary JSON value; transport accepts JSON only"
          },
          "evidence": {
            "description": "Arbitrary JSON value; transport accepts JSON only"
          },
          "duration_seconds": {
            "anyOf": [
              {
                "type": "number",
                "minimum": 0
              },
              {
                "type": "null"
              }
            ]
          },
          "duration_scope": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "claim_token",
          "outcome",
          "notes"
        ],
        "additionalProperties": false
      },
      "capture": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "capture_session_id": {
            "type": "string",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "revision": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          },
          "collection_id": {
            "type": "string",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "attempt_id": {
            "description": "Arbitrary JSON value; transport accepts JSON only"
          },
          "schema_version": {
            "description": "Arbitrary JSON value; transport accepts JSON only"
          },
          "state": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "draft",
                  "finished",
                  "imported"
                ]
              },
              {
                "type": "string",
                "const": ""
              },
              {
                "type": "boolean",
                "const": false
              },
              {
                "type": "number",
                "const": 0
              },
              {
                "type": "null"
              }
            ]
          },
          "captured_at": {
            "type": "string",
            "maxLength": 40,
            "description": "ISO timestamp with a timezone; validated and normalized by the service"
          },
          "document": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "description": "Arbitrary JSON value; transport accepts JSON only"
            }
          }
        },
        "required": [
          "id",
          "capture_session_id",
          "revision",
          "collection_id",
          "captured_at",
          "document"
        ],
        "additionalProperties": false
      },
      "complete": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "claim_token": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "Original private claim token; new claims require 32+ characters"
          },
          "confirmed": {
            "type": "boolean",
            "const": true
          },
          "confirmation_kind": {
            "type": "string",
            "enum": [
              "ats_receipt",
              "user_confirmed"
            ]
          },
          "submitted_at": {
            "type": "string",
            "maxLength": 40,
            "description": "ISO timestamp with a timezone; validated and normalized by the service"
          },
          "capture_id": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
              },
              {
                "type": "null"
              }
            ]
          },
          "existing_application_id": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ]
          },
          "job": {
            "type": "object",
            "properties": {
              "company": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 2000
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "role": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 2000
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "description": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 50000
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "type": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 2000
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "source": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 2000
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "location": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 2000
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "work_mode": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 2000
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "application_url": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 2000
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "additionalProperties": false
          },
          "resolve_blocker_ids": {
            "anyOf": [
              {
                "maxItems": 100,
                "type": "array",
                "items": {
                  "type": "string",
                  "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "evidence": {
            "description": "Arbitrary JSON value; transport accepts JSON only"
          }
        },
        "required": [
          "claim_token",
          "confirmed",
          "confirmation_kind",
          "submitted_at"
        ],
        "additionalProperties": false
      },
      "handoff": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "claim_token": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "Original private claim token; new claims require 32+ characters"
          },
          "reason_code": {
            "type": "string",
            "enum": [
              "captcha",
              "manual_review",
              "login_required",
              "missing_information"
            ]
          },
          "notes": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50000
          },
          "packets": {
            "minItems": 1,
            "maxItems": 20,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/handoffPacket"
            },
            "description": "Page-scoped handoff schema 1.0 packets; validated against the shared packet schema. Never flatten different Workday steps."
          },
          "gaps": {
            "maxItems": 100,
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 2000
            }
          },
          "resume_instructions": {
            "type": "string",
            "maxLength": 10000
          }
        },
        "required": [
          "id",
          "claim_token",
          "reason_code",
          "notes",
          "packets"
        ],
        "additionalProperties": false
      },
      "handoffClaim": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          },
          "version": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          },
          "claim_token": {
            "type": "string",
            "minLength": 32,
            "maxLength": 200,
            "description": "Original private claim token; new claims require 32+ characters"
          }
        },
        "required": [
          "id",
          "version",
          "claim_token"
        ],
        "additionalProperties": false
      },
      "availability": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          },
          "claim_token": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "Original private claim token; new claims require 32+ characters"
          },
          "notes": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50000
          },
          "evidence": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "maxLength": 8000,
                "format": "uri"
              },
              "observed_at": {
                "type": "string",
                "maxLength": 40,
                "description": "ISO timestamp with a timezone; validated and normalized by the service"
              },
              "signal": {
                "type": "string",
                "enum": [
                  "expired_notice",
                  "employer_removed"
                ]
              },
              "excerpt": {
                "type": "string",
                "minLength": 1,
                "maxLength": 10000
              }
            },
            "required": [
              "url",
              "observed_at",
              "signal",
              "excerpt"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "version",
          "notes",
          "evidence"
        ],
        "additionalProperties": false
      },
      "resolve": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          },
          "action": {
            "type": "string",
            "enum": [
              "retry",
              "resolved",
              "dismiss"
            ]
          },
          "notes": {
            "type": "string",
            "maxLength": 50000
          },
          "resolution": {
            "description": "Arbitrary JSON value; transport accepts JSON only"
          }
        },
        "required": [
          "version",
          "action",
          "notes"
        ],
        "additionalProperties": false
      },
      "clientEventsResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "accepted": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "accepted"
        ],
        "additionalProperties": false
      },
      "eventQueryResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "backend": {
            "type": "string",
            "enum": [
              "axiom",
              "server_logs"
            ]
          },
          "result": {},
          "note": {
            "type": "string"
          }
        },
        "required": [
          "backend"
        ],
        "additionalProperties": false
      },
      "discoveryResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "api_version": {
            "type": "string"
          },
          "workflow_version": {
            "type": "number"
          },
          "contract_hash": {
            "type": "string"
          },
          "revision": {
            "type": "string"
          },
          "guide_hash": {
            "type": "string"
          },
          "deployed_commit": {
            "type": [
              "string",
              "null"
            ]
          },
          "supported_clients": {
            "type": "object",
            "properties": {
              "cli": {
                "type": "object",
                "properties": {
                  "min": {
                    "type": "string"
                  },
                  "max_major": {
                    "type": "number"
                  }
                },
                "required": [
                  "min",
                  "max_major"
                ],
                "additionalProperties": false
              },
              "extension": {
                "type": "object",
                "properties": {
                  "min": {
                    "type": "string"
                  },
                  "max_major": {
                    "type": "number"
                  }
                },
                "required": [
                  "min",
                  "max_major"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "cli",
              "extension"
            ],
            "additionalProperties": false
          },
          "legacy_clients_supported": {
            "type": "boolean"
          },
          "links": {
            "type": "object",
            "properties": {
              "openapi": {
                "type": "string"
              },
              "guide": {
                "type": "string"
              },
              "changes": {
                "type": "string"
              },
              "releases": {
                "type": "string"
              },
              "docs": {
                "type": "string"
              },
              "workspace": {
                "type": "string"
              }
            },
            "required": [
              "openapi",
              "guide",
              "changes",
              "releases",
              "docs"
            ],
            "additionalProperties": false
          },
          "latest_compatible_release": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "version": {
                    "type": "string"
                  },
                  "api_version": {
                    "type": "string"
                  },
                  "contract_hash": {
                    "type": "string"
                  },
                  "source_commit": {
                    "type": "string"
                  },
                  "build_hash": {
                    "type": "string"
                  },
                  "storage_schema": {
                    "type": "number"
                  },
                  "verified": {
                    "type": "boolean",
                    "const": true
                  },
                  "verified_at": {
                    "type": "string"
                  },
                  "artifacts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "kind": {
                          "type": "string",
                          "enum": [
                            "cli",
                            "extension",
                            "zip"
                          ]
                        },
                        "name": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "size": {
                          "type": "integer",
                          "exclusiveMinimum": 0,
                          "maximum": 9007199254740991
                        },
                        "sha256": {
                          "type": "string",
                          "pattern": "^[a-f0-9]{64}$"
                        }
                      },
                      "required": [
                        "kind",
                        "name",
                        "url",
                        "size",
                        "sha256"
                      ],
                      "additionalProperties": false
                    }
                  }
                },
                "required": [
                  "version",
                  "api_version",
                  "contract_hash",
                  "source_commit",
                  "build_hash",
                  "storage_schema",
                  "verified",
                  "verified_at",
                  "artifacts"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "name",
          "api_version",
          "workflow_version",
          "contract_hash",
          "revision",
          "guide_hash",
          "deployed_commit",
          "supported_clients",
          "legacy_clients_supported",
          "links",
          "latest_compatible_release"
        ],
        "additionalProperties": false
      },
      "releasesResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "releases": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "version": {
                  "type": "string"
                },
                "api_version": {
                  "type": "string"
                },
                "contract_hash": {
                  "type": "string"
                },
                "source_commit": {
                  "type": "string"
                },
                "build_hash": {
                  "type": "string"
                },
                "storage_schema": {
                  "type": "number"
                },
                "verified": {
                  "type": "boolean",
                  "const": true
                },
                "verified_at": {
                  "type": "string"
                },
                "artifacts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string",
                        "enum": [
                          "cli",
                          "extension",
                          "zip"
                        ]
                      },
                      "name": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string",
                        "format": "uri"
                      },
                      "size": {
                        "type": "integer",
                        "exclusiveMinimum": 0,
                        "maximum": 9007199254740991
                      },
                      "sha256": {
                        "type": "string",
                        "pattern": "^[a-f0-9]{64}$"
                      }
                    },
                    "required": [
                      "kind",
                      "name",
                      "url",
                      "size",
                      "sha256"
                    ],
                    "additionalProperties": false
                  }
                }
              },
              "required": [
                "version",
                "api_version",
                "contract_hash",
                "source_commit",
                "build_hash",
                "storage_schema",
                "verified",
                "verified_at",
                "artifacts"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "releases"
        ],
        "additionalProperties": false
      },
      "changesResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "revision": {
            "type": "string"
          },
          "changes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "version": {
                  "type": "string"
                },
                "client_version": {
                  "type": "string"
                },
                "date": {
                  "type": "string"
                },
                "breaking": {
                  "type": "boolean"
                },
                "summary": {
                  "type": "string"
                },
                "required_actions": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "changes": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "version",
                "client_version",
                "date",
                "breaking",
                "summary",
                "required_actions",
                "changes"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "revision",
          "changes"
        ],
        "additionalProperties": false
      },
      "publicDocumentResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "propertyNames": {
          "type": "string"
        },
        "additionalProperties": {
          "description": "Arbitrary JSON value; transport accepts JSON only"
        }
      },
      "guideResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "string"
      },
      "parsedJobResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "company": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "work_mode": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        },
        "required": [
          "company",
          "role",
          "type",
          "location",
          "work_mode",
          "description"
        ],
        "additionalProperties": {}
      },
      "errorResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "details": {
            "description": "Arbitrary JSON value; transport accepts JSON only"
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": {}
      },
      "applicationListResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "jobs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "company": {
                  "type": "string",
                  "maxLength": 2000
                },
                "role": {
                  "type": "string",
                  "maxLength": 2000
                },
                "description": {
                  "anyOf": [
                    {
                      "type": "string",
                      "maxLength": 50000
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "date": {
                  "anyOf": [
                    {
                      "type": "string",
                      "maxLength": 2000
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "source": {
                  "anyOf": [
                    {
                      "type": "string",
                      "maxLength": 2000
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "type": {
                  "anyOf": [
                    {
                      "type": "string",
                      "maxLength": 2000
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "cover_letter": {
                  "anyOf": [
                    {
                      "type": "string",
                      "maxLength": 50000
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "resume_type": {
                  "anyOf": [
                    {
                      "type": "string",
                      "maxLength": 2000
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "location": {
                  "anyOf": [
                    {
                      "type": "string",
                      "maxLength": 2000
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "work_mode": {
                  "anyOf": [
                    {
                      "type": "string",
                      "maxLength": 2000
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "status": {
                  "anyOf": [
                    {
                      "type": "string",
                      "maxLength": 2000
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "application_url": {
                  "anyOf": [
                    {
                      "type": "string",
                      "maxLength": 2000
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "external_id": {
                  "anyOf": [
                    {
                      "type": "string",
                      "maxLength": 2000
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "agent_model": {
                  "anyOf": [
                    {
                      "type": "string",
                      "maxLength": 2000
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "started_at": {
                  "anyOf": [
                    {
                      "type": "string",
                      "maxLength": 2000
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "completed_at": {
                  "anyOf": [
                    {
                      "type": "string",
                      "maxLength": 2000
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "submitted_at": {
                  "anyOf": [
                    {
                      "type": "string",
                      "maxLength": 2000
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "duration_seconds": {
                  "anyOf": [
                    {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "blocker": {
                  "anyOf": [
                    {
                      "type": "string",
                      "maxLength": 50000
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "evidence_refs": {
                  "anyOf": [
                    {
                      "type": "string",
                      "maxLength": 50000
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "other_details": {
                  "anyOf": [
                    {
                      "type": "string",
                      "maxLength": 1000000
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "id": {
                  "type": "number"
                },
                "interviewed": {
                  "type": "boolean"
                }
              },
              "required": [
                "id",
                "interviewed"
              ],
              "additionalProperties": {}
            }
          },
          "total": {
            "type": "number"
          }
        },
        "required": [
          "jobs",
          "total"
        ],
        "additionalProperties": false
      },
      "applicationResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "job": {
            "type": "object",
            "properties": {
              "company": {
                "type": "string",
                "maxLength": 2000
              },
              "role": {
                "type": "string",
                "maxLength": 2000
              },
              "description": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 50000
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "date": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 2000
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "source": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 2000
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "type": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 2000
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "cover_letter": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 50000
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "resume_type": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 2000
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "location": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 2000
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "work_mode": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 2000
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "status": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 2000
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "application_url": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 2000
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "external_id": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 2000
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "agent_model": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 2000
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "started_at": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 2000
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "completed_at": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 2000
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "submitted_at": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 2000
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "duration_seconds": {
                "anyOf": [
                  {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "blocker": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 50000
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "evidence_refs": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 50000
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "other_details": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 1000000
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "id": {
                "type": "number"
              },
              "interviewed": {
                "type": "boolean"
              }
            },
            "required": [
              "id",
              "interviewed"
            ],
            "additionalProperties": {}
          }
        },
        "required": [
          "job"
        ],
        "additionalProperties": false
      },
      "applicationCreatedResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "message": {
            "type": "string"
          },
          "replayed": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "message",
          "replayed"
        ],
        "additionalProperties": false
      },
      "applicationUpdatedResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "required": [
          "message"
        ],
        "additionalProperties": false
      },
      "collectionListResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "jobs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
                },
                "identity_key": {
                  "type": "string"
                },
                "source": {
                  "type": "string"
                },
                "source_url": {
                  "type": "string"
                },
                "version": {
                  "type": "number"
                },
                "status": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "identity_key",
                "source",
                "source_url",
                "version",
                "status"
              ],
              "additionalProperties": {}
            }
          },
          "total": {
            "type": "number"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "jobs",
          "total",
          "next_cursor"
        ],
        "additionalProperties": false
      },
      "collectionResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "job": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
              },
              "identity_key": {
                "type": "string"
              },
              "source": {
                "type": "string"
              },
              "source_url": {
                "type": "string"
              },
              "version": {
                "type": "number"
              },
              "status": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "identity_key",
              "source",
              "source_url",
              "version",
              "status"
            ],
            "additionalProperties": {}
          },
          "created": {
            "type": "boolean"
          },
          "existing": {
            "type": "boolean"
          }
        },
        "required": [
          "job"
        ],
        "additionalProperties": false
      },
      "exportedResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "jobs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
                },
                "source_url": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "source_url",
                "status"
              ],
              "additionalProperties": {}
            }
          },
          "total": {
            "type": "number"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "jobs",
          "total",
          "next_cursor"
        ],
        "additionalProperties": false
      },
      "connectionResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "workflow_version": {
            "type": "number"
          },
          "access": {
            "type": "string",
            "enum": [
              "read",
              "write"
            ]
          }
        },
        "required": [
          "ok",
          "workflow_version",
          "access"
        ],
        "additionalProperties": false
      },
      "handoffResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "handoff": {
            "type": "object",
            "properties": {
              "id": {
                "type": [
                  "number",
                  "string"
                ]
              }
            },
            "required": [
              "id"
            ],
            "additionalProperties": {}
          },
          "replayed": {
            "type": "boolean"
          }
        },
        "required": [
          "handoff",
          "replayed"
        ],
        "additionalProperties": false
      },
      "handoffDetailResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "handoff": {
            "type": "object",
            "properties": {
              "id": {
                "type": [
                  "number",
                  "string"
                ]
              }
            },
            "required": [
              "id"
            ],
            "additionalProperties": {}
          },
          "job": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
              },
              "identity_key": {
                "type": "string"
              },
              "source": {
                "type": "string"
              },
              "source_url": {
                "type": "string"
              },
              "version": {
                "type": "number"
              },
              "status": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "identity_key",
              "source",
              "source_url",
              "version",
              "status"
            ],
            "additionalProperties": {}
          },
          "document": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "description": "Arbitrary JSON value; transport accepts JSON only"
            }
          }
        },
        "required": [
          "handoff",
          "job",
          "document"
        ],
        "additionalProperties": false
      },
      "claimResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "attempt": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
              },
              "collection_id": {
                "type": "string",
                "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
              },
              "state": {
                "type": "string",
                "enum": [
                  "running",
                  "finished"
                ]
              },
              "stage": {
                "type": "string"
              },
              "version": {
                "type": "number"
              },
              "lease_expires_at": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "collection_id",
              "state",
              "stage",
              "version",
              "lease_expires_at"
            ],
            "additionalProperties": {}
          },
          "replayed": {
            "type": "boolean"
          }
        },
        "required": [
          "attempt"
        ],
        "additionalProperties": {}
      },
      "heartbeatResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "attempt": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
              },
              "collection_id": {
                "type": "string",
                "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
              },
              "state": {
                "type": "string",
                "enum": [
                  "running",
                  "finished"
                ]
              },
              "stage": {
                "type": "string"
              },
              "version": {
                "type": "number"
              },
              "lease_expires_at": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "collection_id",
              "state",
              "stage",
              "version",
              "lease_expires_at"
            ],
            "additionalProperties": {}
          },
          "replayed": {
            "type": "boolean"
          }
        },
        "required": [
          "attempt"
        ],
        "additionalProperties": {}
      },
      "recoverResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "attempt": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
              },
              "collection_id": {
                "type": "string",
                "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
              },
              "state": {
                "type": "string",
                "enum": [
                  "running",
                  "finished"
                ]
              },
              "stage": {
                "type": "string"
              },
              "version": {
                "type": "number"
              },
              "lease_expires_at": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "collection_id",
              "state",
              "stage",
              "version",
              "lease_expires_at"
            ],
            "additionalProperties": {}
          },
          "replayed": {
            "type": "boolean"
          }
        },
        "required": [
          "attempt"
        ],
        "additionalProperties": {}
      },
      "outcomeResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "attempt": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
              },
              "collection_id": {
                "type": "string",
                "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
              },
              "state": {
                "type": "string",
                "enum": [
                  "running",
                  "finished"
                ]
              },
              "stage": {
                "type": "string"
              },
              "version": {
                "type": "number"
              },
              "lease_expires_at": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "collection_id",
              "state",
              "stage",
              "version",
              "lease_expires_at"
            ],
            "additionalProperties": {}
          },
          "replayed": {
            "type": "boolean"
          }
        },
        "required": [
          "attempt"
        ],
        "additionalProperties": {}
      },
      "captureResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "capture": {
            "type": "object",
            "properties": {
              "id": {
                "type": [
                  "number",
                  "string"
                ]
              }
            },
            "required": [
              "id"
            ],
            "additionalProperties": {}
          },
          "replayed": {
            "type": "boolean"
          }
        },
        "required": [
          "capture"
        ],
        "additionalProperties": {}
      },
      "resolveResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "blocker": {
            "type": "object",
            "properties": {
              "id": {
                "type": [
                  "number",
                  "string"
                ]
              }
            },
            "required": [
              "id"
            ],
            "additionalProperties": {}
          }
        },
        "required": [
          "blocker"
        ],
        "additionalProperties": false
      },
      "completeResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "application_id": {
            "type": "number"
          },
          "replayed": {
            "type": "boolean"
          }
        },
        "required": [
          "application_id",
          "replayed"
        ],
        "additionalProperties": {}
      },
      "historyResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "job": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
              },
              "identity_key": {
                "type": "string"
              },
              "source": {
                "type": "string"
              },
              "source_url": {
                "type": "string"
              },
              "version": {
                "type": "number"
              },
              "status": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "identity_key",
              "source",
              "source_url",
              "version",
              "status"
            ],
            "additionalProperties": {}
          },
          "attempts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
                },
                "collection_id": {
                  "type": "string",
                  "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
                },
                "state": {
                  "type": "string",
                  "enum": [
                    "running",
                    "finished"
                  ]
                },
                "stage": {
                  "type": "string"
                },
                "version": {
                  "type": "number"
                },
                "lease_expires_at": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "collection_id",
                "state",
                "stage",
                "version",
                "lease_expires_at"
              ],
              "additionalProperties": {}
            }
          },
          "blockers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": [
                    "number",
                    "string"
                  ]
                }
              },
              "required": [
                "id"
              ],
              "additionalProperties": {}
            }
          },
          "captures": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": [
                    "number",
                    "string"
                  ]
                }
              },
              "required": [
                "id"
              ],
              "additionalProperties": {}
            }
          }
        },
        "required": [
          "job",
          "attempts",
          "blockers",
          "captures"
        ],
        "additionalProperties": false
      },
      "workflowListResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": [
                    "number",
                    "string"
                  ]
                }
              },
              "required": [
                "id"
              ],
              "additionalProperties": {}
            }
          },
          "total": {
            "type": "number"
          },
          "offset": {
            "type": "number"
          }
        },
        "required": [
          "items",
          "total",
          "offset"
        ],
        "additionalProperties": false
      },
      "metricsResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "timezone": {
            "type": "string"
          },
          "today": {
            "type": "number"
          },
          "total": {
            "type": "number"
          },
          "legacy_date_records": {
            "type": "number"
          },
          "daily": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "count": {
                  "type": "number"
                }
              },
              "required": [
                "date",
                "count"
              ],
              "additionalProperties": false
            }
          },
          "outcomes": {
            "type": "array",
            "items": {
              "type": "object",
              "propertyNames": {
                "type": "string"
              },
              "additionalProperties": {
                "description": "Arbitrary JSON value; transport accepts JSON only"
              }
            }
          },
          "open_blockers": {
            "type": "array",
            "items": {
              "type": "object",
              "propertyNames": {
                "type": "string"
              },
              "additionalProperties": {
                "description": "Arbitrary JSON value; transport accepts JSON only"
              }
            }
          }
        },
        "required": [
          "timezone",
          "today",
          "total",
          "legacy_date_records",
          "daily",
          "outcomes",
          "open_blockers"
        ],
        "additionalProperties": false
      },
      "statsResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "total": {
            "type": "number"
          },
          "today": {
            "type": "number"
          },
          "thisWeek": {
            "type": "number"
          },
          "thisMonth": {
            "type": "number"
          }
        },
        "required": [
          "total",
          "today",
          "thisWeek",
          "thisMonth"
        ],
        "additionalProperties": {}
      },
      "contractResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "version": {
            "type": "number"
          },
          "base_url": {
            "type": "string"
          },
          "authentication": {
            "type": "string"
          },
          "reads": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "string"
            }
          },
          "writes": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "object",
              "propertyNames": {
                "type": "string"
              },
              "additionalProperties": {
                "description": "Arbitrary JSON value; transport accepts JSON only"
              }
            }
          },
          "rules": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "version",
          "base_url",
          "authentication",
          "reads",
          "writes",
          "rules"
        ],
        "additionalProperties": false
      },
      "handoffPacket": {
        "title": "ATS human handoff packet",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "schema_version",
          "id",
          "created_at",
          "application_url",
          "status"
        ],
        "properties": {
          "schema_version": {
            "const": "1.0"
          },
          "id": {
            "type": "string",
            "pattern": "^(?:[0-9]{8}-[0-9]{6}-[a-zA-Z0-9-]{1,80}|[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})$"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "application_url": {
            "type": "string",
            "format": "uri",
            "maxLength": 8000,
            "pattern": "^https?://[^/@\\s]+(?::[0-9]+)?(?:[/?#]|$)",
            "not": {
              "pattern": "[?&](?:access_token|id_token|refresh_token|password|otp|code|session|sessionid|csrf)="
            }
          },
          "status": {
            "enum": [
              "captcha_blocked",
              "ready_for_human",
              "imported",
              "submitted",
              "abandoned",
              "expired"
            ]
          },
          "company": {
            "type": "string",
            "maxLength": 2000
          },
          "role": {
            "type": "string",
            "maxLength": 2000
          },
          "ats": {
[...]
