html{
    height: 100%;
    overscroll-behavior-y: none;
}
body{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto;
    background: linear-gradient(-45deg,rgb(163, 181, 195), 50%, rgb(255, 255, 255));
    background-repeat: no-repeat;
}
/* #navbar{
    background-color: rgb(82, 82, 82);
    color: aliceblue;
    grid-column: 1/6;
}
#navbar a {
    color: white;
}
#branding {
    font-size: large;
    text-align: left;
}
#navbar ul {
    display: flex;
    justify-content: space-around;
    text-align: right;
    padding-left: 0;
} */
#navbar {
    grid-column: 1/6;
    display: flex;
    padding-top: 3px;
    padding-bottom: 3px;

    justify-content:space-between;
    align-items:center;
    min-height:8vh;
}
#navbar div {
    justify-content: flex-end;
}
#navbar ul {
    display: flex;
    padding-right: 16px;
}
#branding {
    text-align: start;
    padding: 8px;
    padding-left: 24px;

}
#navbar ul a {
    font-size: 16px;
    display: block;
    padding:1rem;
    padding-right: 2rem;
    padding-left: 2rem;

    font-family: Helvetica, sans-serif;
    text-decoration: none;
    white-space: nowrap; 
}

button {
    /* grid */
    display: grid;
    grid-column: 3/4;

    /* color */
    /* background-color: rgba(255, 255, 255, 0.35); */
    background: linear-gradient(rgba(255, 255, 255, 0.0), rgb(255, 255, 255, 0.8));
    color: black;
    border: 1px solid rgb(255, 255, 255,  0.5);

    /* style */
    width: 150px;
    height: 30px;
    border-radius: 5px;
    padding: 6px 36px;
    max-width: 200px;
    /* text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.2); */
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    font-size: 15px;

    /* animation */
    transition: background-color 0.2s ease-out, color 0.5s ease-in;
    transition: all 0.08s ease-out, color 0.5s ease-in;
}
button:hover{
    background-color: rgba(0, 0, 0, 0.1);
    /* the button hover color looks cool */
    
    
    /* animation: changeColors .5s ease-in;
    transform: scale(1.05, 1.05); */
}
button:active {
    font-size: 14px;
    width: 145px;
    height: 29px;
}

@keyframes changeColors {
    from { background-color: rgb(200, 200, 200, 50%);}
    to { background-color: rgb(200, 200, 200);}
}