/* .spinner {
    border: 3px solid rgba(108, 108, 108, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: rgb(158, 158, 158);
    animation: spin 1.5s linear infinite;
} */


.spinner2 {
    /* animation: rotate 2s linear infinite; */
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
}

.spinner2 .path {
    stroke:rgb(80, 80, 80);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out 1;
}

.static {
    z-index: 1;
    position: absolute;
    top: 20%;
    left: 20%;
    margin: -15px 0 0 -15px;
    width: 300px;
    height: 300px;
}

.static circle {
    fill: transparent;
    cx: 150;
    cy: 150;
    r: 50;
    
    stroke-dasharray: 17,20;
    stroke: rgb(0, 0, 0);
    stroke-width: 4;
    stroke-linecap: round;
}

/* Define the gap variable */
:root {
    --gap: 100;
}

@keyframes rotate {
        100% {
                transform: rotate(360deg);
        }
}
@keyframes dash {
        0% {
            stroke-dasharray: 1, var(--gap);
            stroke-dashoffset: 0;
        }
        50% {
            stroke-dasharray: 50, var(--gap);
            /* stroke-dashoffset: -35; */
        }
        100% {
            stroke-dasharray: 180, var(--gap);
            /* stroke-dashoffset: -124; */
        }
}
