/* .spinner {
    border: 3px solid rgba(108, 108, 108, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: rgb(158, 158, 158);
    animation: spin 1.5s linear infinite;
} */

body {
    overscroll-behavior: none;
}

h3 {
    font-weight: 500;
    font-size: 1.2rem;
    color: rgb(80, 80, 80);
    margin: 20;
    padding: 0;
}

.spinner2 {
    /* animation: rotate 2s linear infinite; */
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
}

.spinner2 .path {
    stroke:rgb(80, 80, 80);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out 1;
}

.static {
    z-index: 1;
    position: absolute;
    top: 60%;
    left: 50%;
    margin: -15px 0 0 -15px;
    width: 110px;
    height: 110px;
    animation: rotate 2s linear infinite;
}

.static circle {
    fill: transparent;
    /* cx: 150;
    cy: 150;
    r: 50; */
    
    stroke-dasharray: 50, 250; /* spinning */

    /* stroke-dasharray: 50, 0; uponCompletion */

    stroke: rgb(0, 0, 0);
    stroke-width: 4;
    stroke-linecap: round;

    /* animation: uponCompletion 1.5s linear 1;*/
}

#checkmark {
    position: absolute;
    top: 20%;
    left: 20%;

    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    animation: draw 2s forwards;
}

/* Define the gap variable */
:root {
    --gap: 100;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0% {
        opacity: 0.25;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.25;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, var(--gap);
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 50, var(--gap);
        /* stroke-dashoffset: -35; */
    }
    100% {
        stroke-dasharray: 180, var(--gap);
        /* stroke-dashoffset: -124; */
    }
}

@keyframes uponCompletion {
    0% {
        stroke-dasharray: 50, 250;
    }
    50% {
        stroke-dasharray: 50, 50;
        stroke-dashoffset: -100;
    }
    100% {
        stroke-dasharray: 50, 0;
        stroke-dashoffset: -200;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}