@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.animated-highlight {
  position: relative;
}

.animated-highlight::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0.1em; 
  height: 0.5em;
  width: 0%;
  background-color: rgba(0, 8, 255, 0.09);
  z-index: -1;
  animation: highlight-sweep 0.3s ease-out forwards;
}

@keyframes highlight-sweep {
  to {
    width: 100%;
  }
}
.hover-animate-underline {
  position: relative;
}

.hover-animate-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: currentColor;
  transform-origin: left;
  transition: transform 0.3s ease-out;
}

.hover-animate-underline:hover::after {
  transform: scaleX(1);
}
.hover-animate-underline .material-symbols-outlined {
  transition: transform 0.2s ease-in-out;
}
.hover-animate-underline:active .material-symbols-outlined {
  transform: translate(0.25em, -0.25em);
}