body {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
    grid-gap: 50px;
    /* grid-template-areas: "navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar"
    ". . articlehead articlehead . . . . . ." */
    ;
}


.navbar {
    grid-column: 1/6;
    display: flex;
    background-color: rgb(255, 255, 255);
    padding-top: 3px;
    padding-bottom: 3px;


    justify-content:space-between;
    align-items:center;
    min-height:8vh;
}
.navbar div {
    justify-content: flex-end;
}
.navbar ul {
    list-style: none;
    display: flex;
    padding-right: 16px;
}

.articlehead {
    grid-row: 2/3;
    grid-column: 2/5;
    background-color: black;
    border-radius: 16px;
    max-width: 85vw;
    color: white;

}
.content {
    grid-column: 2/3;
    background-color: #F2F2F2;
    border-radius: 16px;
    max-width: 50vw;
}
.sources {
    background-color: black;
    grid-column: 3/5;
    border-radius: 16px;
    height: 380px;
    min-width: 20vw;
    max-width: 26vw;
    max-height: 380px;
}
.sources div {
    background-color: white;
    border-radius: 16px;
    height: 341px;
    position: relative;
    left: -3px;
    top: 3px;
}

@media all and (max-width: 800px) {
    body {
        display: grid;
        grid-gap: 50px;
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
    }
    .navbar {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        background-color: rgb(255, 255, 255);
        padding-top: 2px;
        padding-bottom: 2px;
    
        justify-content:space-between;
        align-items:center;
    }
    .navbar div {
        justify-content: flex-end;
    }
    .navbar ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding-right: 8px;
    }
    .navbar div ul a {
        color: rgb(0, 0, 0);
        font-size: 16px;
        display: block;
        padding: 5px;
        padding-right: 2px;
        padding-left: 2px;

        font-family: Helvetica, sans-serif;
        text-decoration: none;
    }
    .articlehead {
        grid-column: 1;
        grid-row: 2;
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
    .content {
        grid-column: 1;
        grid-row: 3;
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
    .sources {
        grid-column: 1;
        grid-row: 4;
        min-width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
}