<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Article</title>
        <link rel="stylesheet" href="NewsArticle.css">
        <link rel="stylesheet" href="TextStyling.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body>
        <div class="navbar">
            <a id="logo" href="link1">Website Name</a>
            <div>
                <ul>
                    <li><a href="link1">article 1</a></li>
                    <li><a href="link2">article 2</a></li>
                    <li><a href="link3">article 3</a></li>
                    <li><a href="link4">article 4</a></li>
                    <li><a href="link5">article 5</a></li>
                </ul>
            </div>
        </div>
        <article>
            <section class="articlehead">
                <div>
                    <h1>Article Title Article Title</h1>
                    <h5>Author's Name</h5>
                    <p>Sint Lorem officia duis exercitation ex amet labore ipsum aliquip cupidatat esse. Commodo ullamco qui non dolore quis pariatur nostrud veniam elit sint nostrud minim. Officia sunt eu cupidatat laboris cupidatat non adipisicing. Qui commodo adipisicing dolor ad aute labore laborum eiusmod enim cillum commodo. Non nulla sint cillum mollit amet. Ea velit incididunt magna qui incididunt esse sint dolor proident veniam enim. Anim quis nisi sint nulla aute irure labore. Quis dolore ut eu tempor culpa est.</p>
                </div>
            </section>
            <div class="content">
                <h3>Title</h3>
                <p>Body paragraph. In ipsum reprehenderit dolore cillum enim qui sunt non veniam. Aliquip commodo labore et dolor tempor. Ad culpa nulla est incididunt proident occaecat culpa aliqua magna mollit fugiat aliquip culpa proident. Voluptate sunt in ullamco consequat est quis pariatur labore. Excepteur nulla dolor veniam irure nostrud in minim nostrud. Consectetur velit consequat voluptate ad fugiat proident. Nulla in voluptate consequat commodo ipsum amet nostrud amet officia.</p>
                <h3>Title</h3>
                <p>Body paragraph. In ipsum reprehenderit dolore cillum enim qui sunt non veniam. Aliquip commodo labore et dolor tempor. Ad culpa nulla est incididunt proident occaecat culpa aliqua magna mollit fugiat aliquip culpa proident. Voluptate sunt in ullamco consequat est quis pariatur labore. Excepteur nulla dolor veniam irure nostrud in minim nostrud. Consectetur velit consequat voluptate ad fugiat proident. Nulla in voluptate consequat commodo ipsum amet nostrud amet officia.</p>
                <h3>Title</h3>
                <p>Body paragraph. In ipsum reprehenderit dolore cillum enim qui sunt non veniam. Aliquip commodo labore et dolor tempor. Ad culpa nulla est incididunt proident occaecat culpa aliqua magna mollit fugiat aliquip culpa proident. Voluptate sunt in ullamco consequat est quis pariatur labore. Excepteur nulla dolor veniam irure nostrud in minim nostrud. Consectetur velit consequat voluptate ad fugiat proident. Nulla in voluptate consequat commodo ipsum amet nostrud amet officia.</p>
            </div>
        </article>
        <div class="sources">
            <h3>Sources</h3>
            <div>
                <ul>
                    <li><a href="link1">Source 1</a></li>
                    <li><a href="link1">Source 1</a></li>
                    <li><a href="link1">Source 1</a></li>
                    <li><a href="link1">Source 1</a></li>
                    <li><a href="link1">Source 1</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>